<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>範例1</title>
</head>

<body>
    <div>
        <canvas id="myChart" width="800" height="500"></canvas>
    </div>

    <script src="{{url_for('static',filename='vendor/chart.js/chart.umd.js')}}"></script>

    <script>
        const ctx = document.getElementById('myChart');
        console.log("Hello!js!")
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,  //完全固定像素（不隨視窗改變），設為 false 並設定 canvas 的 width/height。
                maintainAspectRatio: false, // 依容器大小繪製
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</body>

</html>